@tailwind base;

@layer base {
  .dark {
    /* color: rgb(2, 8, 23); */
    --background: 2 8 23;
    /* color: rgb(248, 250, 252) ; */
    --foreground: 248 250 252;

    /* color: rgb(248, 250, 252) ; */
    --primary: 248 250 252;
    /* color: rgb(15, 23, 42) ; */
    --primary-foreground: 15 23 42;

    /* color: rgb(30, 41, 59) ; */
    --secondary: 30 41 59;
    /* color: rgb(248, 250, 252) ; */
    --secondary-foreground: 248 250 252;

    /* color: rgb(30, 41, 59) ; */
    --accent: 30 41 59;
    /* color: rgb(248, 250, 252) ; */
    --accent-foreground: 248 250 252;

    /* color: rgb(127, 29, 29) ; */
    --danger: 127 29 29;
    /* color: rgb(248, 250, 252) ; */
    --danger-foreground: 254 242 242;

    /* color: rgb(30, 41, 59) ; */
    --muted: 30 41 59;
    /* color: rgb(148, 163, 184); */
    --muted-foreground: 148 163 184;

    /* color: rgb(2, 8, 23) ; */
    --popover: 2 8 23;
    /* color: rgb(248, 250, 252) ; */
    --popover-foreground: 248 250 252;

    /* color: rgb(2, 8, 23) ; */
    --card: 2 8 23;
    /* color: rgb(248, 250, 252) ; */
    --card-foreground: 248 250 252;

    /* color: rgb(30, 41, 59) ; */
    --border: 30 41 59;
    /* color: rgb(30, 41, 59) ; */
    --input: 30 41 59;

    /* color: rgb(30, 41, 59) ; */
    --ring: 30 41 59;
  }
}
