@tailwind base;

@layer base {
  .dark {
    --background: 2 8 23; /* rgb(2, 8, 23) */
    --foreground: 248 250 252; /* rgb(248, 250, 252) */

    --muted: 30 41 59; /* rgb(30, 41, 59) */
    --muted-foreground: 148 163 184; /* rgb(148, 163, 184) */

    --popover: 2 8 23; /* rgb(2, 8, 23) */
    --popover-foreground: 248 250 252; /* rgb(248, 250, 252) */

    --card: 2 8 23; /* rgb(2, 8, 23) */
    --card-foreground: 248 250 252; /* rgb(248, 250, 252) */

    --border: 30 41 59; /* rgb(30, 41, 59) */
    --input: 30 41 59; /* rgb(30, 41, 59) */

    --primary: 248 250 252; /* rgb(248, 250, 252) */
    --primary-foreground: 15 23 42; /* rgb(15, 23, 42) */

    --secondary: 30 41 59; /* rgb(30, 41, 59) */
    --secondary-foreground: 248 250 252; /* rgb(248, 250, 252) */

    --accent: 30 41 59; /* rgb(30, 41, 59) */
    --accent-foreground: 248 250 252; /* rgb(248, 250, 252) */

    --danger: 127 29 29; /* rgb(127, 29, 29)*/
    --danger-foreground: 254 242 242; /* rgb(254, 242, 242) */

    --ring: 30 41 59; /* rgb(30, 41, 59) */
  }
}
